<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>attackBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>flatDark06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>laserBlue01.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,101},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>laserBlue10.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,193},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>laserGreen01.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,101},{13,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,57}}</string>
				<key>sourceSize</key>
				<string>{13,57}</string>
			</dict>

			<key>laserRed01.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,193},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>playerShip1_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>shadedDark01.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{96,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,100}}</string>
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>

			<key>ufoBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,101},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ufoGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,161},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ufoRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ufoYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,92},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>